/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
}

/* Container */
.my__container {
  padding: 0rem 4rem 0rem 4rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background-color: black;
  color: white;
  min-height: 100vh;
  position: relative;
}

/* Left Section */
.left__section {
  grid-column: span 7 / auto;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 600px !important;
  position: relative;
  margin: 0rem 1rem 0rem 0rem !important;
}

.left__section > * {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
}
/* 
.left__section svg {
  fill: #ffffff;
  width: 300px;
  height: 350px !important;
    color: white;
} */

#canvas {
  z-index: 999;
}
/* 
.left__section svg path {
  fill: #fff;
} */

.big__title {
  font-size: 35rem;
}

/* Right Section */
.right__section {
  height: 100%;
  padding-bottom: 2rem;
  grid-column: span 5 / auto;
}

.right__section h6 {
  font-family: 'SOEHNE_BUCH', 'Helvetica', 'Arial', sans-serif;
  color: rgb(218, 218, 218);
  margin: 1.5rem 0rem 1.5rem 0rem;
  font-size: 1rem;
}

.right__section button {
  background-color: transparent;
  fill: #ffffff;
  outline: 1px solid #383838;
  cursor: pointer;
  position: relative;
  padding: 0.9rem;
  border: 1px solid #383838;
}

.right__section button:hover {
  background-color: #383838;
  border: 1px solid #ffffff;
  border-collapse: separate;
  z-index: 10;
}

.right__section button:focus {
  background-color: #ffffff;
}

.right__section button:focus path {
  fill: black;
}

.right__section .outline__style button {
  padding: 0.5rem !important;
}

.right__section .outline__style button svg {
  height: 3rem;
  width: 3rem;
}

.right__section svg {
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  fill: #ffffff;
  overflow: visible;
  pointer-events: none;
}

.left__section img {
  user-select: non;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .my__container {
    padding: 0px !important;
  }

  .left__section {
    grid-column: span 12 / auto;
    height: 450px;
  }

  .pin-spacer {
    justify-content: center;
    display: grid;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 450px;
  }

  .right__section {
    grid-column: span 12 / auto;
    display: flex;
  }

  #canvas {
    height: 100%;
  }

  .left__section img {
    width: 260px;
  }

  .right__section button {
    padding: 0.7rem;
  }

  .right__section button svg {
    height: 2.2rem;
    width: 2.2rem;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
  #canvas {
    width: 400px;
    height: 400px;
  }

  .left__section img {
    width: 240px;
  }

  .pin-spacer {
    height: 400px;
  }

  .left__section {
    height: 400px;
  }

  .right__section {
    padding: 0rem 1rem;
  }

  .right__section button {
    padding: 0.5rem;
  }

  .right__section button svg {
    height: 1.8rem;
    width: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  #canvas {
    width: 300px;
    height: 300px;
  }

  .left__section img {
    width: 170px;
  }

  .pin-spacer {
    max-height: 300px;
  }

  .left__section {
    max-height: 300px;
  }

  /* .right__section {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .right__section .kgJXva {
    display: inline-block;
  } */

  .right__section button {
    padding: 0.4rem;
  }

  .right__section button svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .my__container {
    width: 100vw;
  }
}
