/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
}

/* Container */
.my__container {
  padding: 0rem 4rem 0rem 4rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background-color: black;
  color: white;
  min-height: 100vh;
  position: relative;
}

/* Left Section */
.left__section {
  grid-column: span 7 / auto;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}

.left__section > * {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
}

.left__section svg {
  fill: #ffffff;
  height: 32rem;
}

.big__title {
  font-size: 35rem;
}

/* Right Section */
.right__section {
  height: 100%;
  padding-bottom: 2rem;
  grid-column: span 5 / auto;
}

.right__section h6 {
  font-family: 'SOEHNE_BUCH', 'Helvetica', 'Arial', sans-serif;
  color: #383838;
  margin: 1.5rem 0rem 1.5rem 0rem;
  font-size: 1rem;
}

.right__section button {
  background-color: transparent;
  fill: #ffffff;
  outline: 1px solid #383838;
  cursor: pointer;
  position: relative;
  padding: 0.9rem;
  border: 1px solid #383838;
}

.right__section button:hover {
  background-color: #383838;
  border: 1px solid #ffffff;
  border-collapse: separate;
  z-index: 10;
}

.right__section button:focus {
  background-color: #ffffff;
}

.right__section button:focus svg {
  fill: black;
}

.right__section svg {
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  fill: #ffffff;
  overflow: visible;
  pointer-events: none;
}

.dummy-section {
  background-color: #383838;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
